.FranchiseInfo {
  margin: 5rem 20rem 0 20rem;
}

.MovieInfo {
  width: 74%;
}

.Poster {
  width: 10rem;
  float: left;
  margin: 0 1rem 0.5rem 0;
}

.Description {
  justify-self: center;
  width: 80%;
}

.row {
  display: flex;
}

p {
  font-size: 1.2rem;
}

.left {
  color: blue;
  width: 270rem;
  padding-right: 2rem;
}

.left > img,
.right > img {
  width: 8rem;
  float: left;
  margin-right: 1rem;
}

.right {
  color: red;
  width: 270rem;
  padding-left: 2rem;
}
